<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>

<body>
  {{>bank_header}}
  <div class="container">
    <div class="card my-5">
      <h5 class="card-header">Account Balance</h5>
      <div class="d-flex justify-content-between card-body bg-success text-white">
        <h5 class="card-title">Total Balance </h5>
        <h5 class="card-title">BDT {{balance}}</h5>
        <!-- <p class="card-text">Your account is healthy</p> -->
      </div>
    </div>
    <!-- Nav Tabs -->
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="true">Sent</button>
        <button class="nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button"
          role="tab" aria-controls="nav-profile" aria-selected="false">Recieved</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Trxn ID</th>
              <th scope="col">Sender</th>
              <th scope="col">Receiver</th>
              <th scope="col">Transferred Amount</th>
            </tr>
          </thead>
          <tbody>
            {{#each send}}
            <tr>
              <td>{{this.references}}</td>
              <td>{{this.sender}}</td>
              <td>{{this.receiver}}</td>
              <td>{{this.Amount}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Trxn ID</th>
              <th scope="col">Sender</th>
              <th scope="col">Receiver</th>
              <th scope="col">Transferred Amount</th>
            </tr>
          </thead>
          <tbody>
            {{#each receive}}
            <tr>
              <td>{{this.references}}</td>
              <td>{{this.sender}}</td>
              <td>{{this.receiver}}</td>
              <td>{{this.Amount}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <!-- end of nav tabs -->
  </div>
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>